# Python
__pycache__/
*.py[cod]
*.class
venv/
*.sqlite3

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Tailwind
static/css/output.css

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
